
.section-cta-student{
    height: 100vh; 
    display: flex;
    position: relative;
    overflow: hidden;
}
button {
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    width: 30rem;
    height: 3rem;
    background: #3c7891;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
button:hover {
    background-color: #8aaebd; /* Couleur légèrement modifiée */
    color: rgb(255, 255, 255); /* Maintenir la couleur du texte en noir */

}
a{
    cursor: pointer;
    color: white;
    text-decoration: none;
} 

.bg{
    position: absolute;


}
.pattern1{
    top: -1px;
    width: 18%;
}
.pattern2{
    bottom: -1px;
    width: 15%;

}
.pattern3{
    top: -50px;
    right: -100px;

}
.pattern4{
    right: -150px;
    bottom: -100px;
    width: 20%;
}
.back-button{
    top: 50px;
    left: 50px;
}

.main-area{
    display: flex;
    flex-direction: row;
    padding: 8em 4em; 
    align-items: center;
}

.first-area{
    width: 60%;
}
.first-area h1{
    font-size: 70px;
    line-height: 85px;
}
.second-area{
    width: 40%;
}



