/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}



button {
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    font-style: normal;
    font-size: 1.375rem;
    font-weight: 600;
    width: 15.625rem;
    height: 4.063rem;
    background: #3c7891;
    color: rgb(255, 255, 255);
}
button:hover {
    background-color: #8aaebd; /* Couleur légèrement modifiée */
    color: rgb(255, 255, 255); /* Maintenir la couleur du texte en noir */

}

header {
    background-color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour le menu mobile */
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5em 8em;
    height: 100vh; /* Assurez-vous que la hauteur de cette section est définie si elle ne contient pas assez de contenu pour la remplir */
    margin-bottom: 400px;
}

.main h1{
    text-align: center;
    font-size: 4.063rem;
    line-height: 4.688rem;
    color: #3c7891;
    margin-bottom: 50px;
}

.main p{
    text-align: center;
    margin-bottom: 25px;
}




.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center; 
 
}

.navbar button {
    width: 200px;
    height: 50px;
}

.navbar img {
    width: 200px;
}
  
.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links li {
    display: inline-block;
  }
  
  .nav-links a {
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #3c7891;
    border-bottom: 2px solid #3c7891;
    transition: color 0.6s ease;
  }

  .nav-links a.active {
    color: #3c7891;
    border-bottom: 2px solid #3c7891;
  }
  
  .cta {
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
  }
  
  
  /* Hamburger styles */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    border-radius: 5px;
  }



  .second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh;
    margin-top: 3.125em;

}
.blocs {
    gap: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutor, .student {
    width: 31.25rem;
    height: 37.5rem;
    background: #3c7891;
    border-radius: 5%;
    padding: 1.875em;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tutor {
    background: #8aaebd;
}
/* Animation survol des blocs */
.student:hover, .tutor:hover {
    transform: scale(1.05);

}

.bloc h3 {
    font-weight: 600;
    font-size: 3.125rem;
}
.bloc p {
    padding: 0.625em;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: left;
    line-height: 2rem;
}

/* LES BOUTONS COMMENCER */
.bloc button {
    position: absolute;
    bottom: 1.563rem;
    padding: 0.938em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.bloc button a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.tutor button {
    right: 5rem;
    background-color: #3c7891;
    z-index: 1;
}
.student button {
    left: 5rem;
    background-color: #8aaebd;
    z-index: 1;
}
.tutor img {
    position: absolute;
    right: -1.25rem;
    bottom: -0.05rem;
    width: 100%;
}
.student img {
    position: absolute;
    left: -20px;
    bottom: -2px;
    width: 100%;
}
.tutor button:hover{
    background-color: #8aaebd;
    border-color: #3c7891;
    border-width: 0.125rem;
    border-style: solid;
}
.student button:hover{
    background-color: #3c7891;
    border-color: #8aaebd;
    border-width: 0.125rem;
    border-style: solid;
}

.tutor button:active, .student button:active {
    transform: scale(0.95);
    
}

.footer{
    background:#3c7891;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#8aaebd;
    font-size:0.8em;
}
    
.footer .row a{
    text-decoration:none;
    color:#8aaebd;
    transition:0.5s;
}
    
.footer .row a:hover{
    color:#fff;
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
}

.footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
}

.footer .row a i{
    margin:0% 3%;
}
}
